server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/booking-db
    username: booking_user
    password: booking_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  redis:
    host: localhost
    port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: booking-service-group
      auto-offset-reset: earliest

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE

jwt:
  secret: "Jnivjneirnveijvnkeuufn7w4hf8437fnrwen3w4unf848nvsdweunweivbeqifjvnwijrnvi"
  expiration: 7200000